###  1)By Using Dummies

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [25]:
df=pd.read_csv("homeprices.csv")

In [26]:
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [10]:
dumms=pd.get_dummies(df[['town']])

In [11]:
dumms

    town_monroe township  town_robinsville  town_west windsor
0                      1                 0                  0
1                      1                 0                  0
2                      1                 0                  0
3                      1                 0                  0
4                      1                 0                  0
5                      0                 0                  1
6                      0                 0                  1
7                      0                 0                  1
8                      0                 0                  1
9                      0                 1                  0
10                     0                 1                  0
11                     0                 1                  0
12                     0                 1                  0

In [12]:
merged_df=pd.concat([df,dumms],axis='columns')

In [14]:
merged_df

,town,area,price,town_monroe township,town_robinsville,town_west windsor
0,monroe township,2600,550000,1,0,0
1,monroe township,3000,565000,1,0,0
2,monroe township,3200,610000,1,0,0
3,monroe township,3600,680000,1,0,0
4,monroe township,4000,725000,1,0,0
5,west windsor,2600,585000,0,0,1
6,west windsor,2800,615000,0,0,1
7,west windsor,3300,650000,0,0,1
8,west windsor,3600,710000,0,0,1
9,robinsville,2600,575000,0,1,0
10,robinsville,2900,600000,0,1,0
11,robinsville,3100,620000,0,1,0
12,robinsville,3600,695000,0,1,0

In [16]:
merged_df=merged_df.drop(['town'],axis='columns')

In [18]:
merged_df

    area   price  town_monroe township  town_robinsville  town_west windsor
0   2600  550000                     1                 0                  0
1   3000  565000                     1                 0                  0
2   3200  610000                     1                 0                  0
3   3600  680000                     1                 0                  0
4   4000  725000                     1                 0                  0
5   2600  585000                     0                 0                  1
6   2800  615000                     0                 0                  1
7   3300  650000                     0                 0                  1
8   3600  710000                     0                 0                  1
9   2600  575000                     0                 1                  0
10  2900  600000                     0                 1                  0
11  3100  620000                     0                 1                  0
12  3600  695000                     0                 1                  0

# Price Prediction in Monroe Township

In [19]:
from sklearn.linear_model import LinearRegression

In [21]:
x=merged_df[['area','town_monroe township']]
y=merged_df[['price']]

In [22]:
LR_monroe=LinearRegression()
LR_monroe.fit(x,y)

LinearRegression()

In [70]:
mon=LR_monroe.predict(x)

In [27]:
import pickle
pickle.dump(LR_monroe,open('monroe_p','wb'))

# Price Prediction in Monroe Township

In [29]:
x1=merged_df[['area','town_robinsville']]
y1=merged_df[['price']]

In [30]:
LR_robinsville=LinearRegression()

In [32]:
LR_robinsville.fit(x1,y1)

LinearRegression()

In [36]:
y_robin=LR_robinsville.predict(x1)

In [41]:
pickle.dump(LR_robinsville,open('robinsville','wb'))

# Price Prediction in Windsor Township

In [42]:
x2=merged_df[['area','town_west windsor']]
y2=merged_df[['price']]

In [43]:
LR_windsor=LinearRegression()

In [44]:
LR_windsor.fit(x2,y2)

LinearRegression()

In [63]:
win=LR_windsor.predict(x)

In [64]:
pickle.dump(LR_windsor,open('windsor','wb'))

In [83]:
win

array([[582276.29334849],
       [630885.73052871],
       [655190.44911882],
       [703799.88629903],
       [752409.32347925],
       [554230.81296191],
       [578535.53155202],
       [639297.32802729],
       [675754.40591245],
       [554230.81296191],
       [590687.89084707],
       [614992.60943718],
       [675754.40591245]])

0    [[[539500.3760610293], [590382.5077898356], [6...
dtype: object

In [80]:
result

0    [[[539500.3760610293], [590382.5077898356], [6...
dtype: object