In [1]:
import pandas as pd
import numpy as np
import pickle

In [3]:
df=pd.read_csv('insurance_data.csv')

In [4]:
df.head()

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [ ]:
df